@font-face {
  font-family: 'NanumSquareRound';
  src: url('@assets/fonts/NanumSquareRoundOTFR.otf') format('opentype');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Inter';
  src: url('@assets/fonts/Inter-Regular.ttf');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'NanumPen';
  src: url('@assets/fonts/NanumPenScript-Regular.ttf');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Mogra';
  src: url('@assets/fonts/Mogra-Regular.ttf');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}