@font-face {
  font-family: 'NanumSquareRound';
  src: url('@assets/fonts/NanumSquareRoundOTFR.otf') format('opentype');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Inter';
  src: url('@assets/fonts/Inter-Regular.ttf');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'NanumPen';
  src: url('@assets/fonts/NanumPenScript-Regular.ttf');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Mogra';
  src: url('@assets/fonts/Mogra-Regular.ttf');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Pretendard';
  src: url('@assets/fonts/Pretendard-Regular.otf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('@assets/fonts/Pretendard-Regular.otf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-Bold';
  src: url('@assets/fonts/Pretendard-Bold.otf');
  font-weight: 700;
  font-style: normal;
}